<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" lang="zh-Hant-TW">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
<title>華南產物保險-火險再保系統</title>
<!-- jQuery -->
<script src="../../shigen/plugin/jquery.min.js"></script>
<!-- jQuery UI -->
<link href="../../shigen/plugin/jquery_ui/jquery-ui.min.css" rel="stylesheet">
<script src="../../shigen/plugin/jquery_ui/jquery-ui.min.js"></script>
<!-- 日期選擇器_民國年或西元年：支援 jQuery UI -->
<script src="../../shigen/plugin/datepicker_globe_tw.js"></script>
<!-- bootstrap -->
<script src="../../shigen/plugin/bootstrap/bootstrap.min.js"></script>
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
<!-- table tabulator -->
<script type="text/javascript" src="../../shigen/plugin/tabulator.min.js"></script>
<!-- fontawsome -->
<script defer src="../../shigen/fonts/js/all.min.js"></script>
<link href="../../shigen/fonts/css/all.css" rel="stylesheet">
<!--load all styles -->
<!-- Plug CSS樣式 -->
<link rel="stylesheet" href="../../shigen/css/type_plug.css">
<!-- 共用樣式 -->
<link rel="stylesheet" href="../../shigen/css/type.css">
<link href="../../shigen/css/colorful-tabulator.css" rel="stylesheet">

<!-- 自訂JS樣式 -->
<script src="../../shigen/js/type.js"></script>
<script src="../../shigen/js/common.js"></script>
<script src="../../shigen/js/appglobal.js"></script>
<script src="../../shigen/js/sys/glob4UiAuth.js"></script>
<!-- <script type="text/javascript" src="../../shigen/js/app/policyChangeAppl.js"></script> -->
<script src="../../shigen/js/yf/fireTableColumns.js"></script>
<script src="../../shigen/js/yf/fireTable.js"></script>
<link rel="stylesheet" href="../../shigen/css/fireTableCustom.css">
<link rel="stylesheet" href="../../shigen/css/fireTablePaginator.css">
<script src="../../shigen/plugin/numeral.js"></script>
</head>

<body>
	<div class="ajax-aside-navFIRE"></div>
	<section>
		<div class="ajax-section-main"></div>
		<div class="container-fluid">
			<div class="content">
				<div class="bread-crumbs">
					<a href="">火險作業</a>
				</div>
				<div class="big_title title s1">Rin1108-合約分保順序維護</div>
				<div class="row-group">
					<div class="row">
						<div class="col-12 content_function_bar">
							<button class="btn btn-titBlue" onclick="btnQueryRin1108();">查詢</button>
						</div>
					</div>
				</div>
				<table class="tblDataArea tblInquireArea" cellspacing="0" cellpadding="0" width="100%">
					<tbody>
						<tr>
							<td class="tdDataCaption">合約年度</td>
							<td class="tdDataField">
								<input type="text" id="txttreaty_year1">
							</td>
							<td class="tdDataCaption">保單種類</td>
							<td class="tdDataField">
								<input type="text" id="txtpolicy_type1">
							</td>
						</tr>
<!-- 						<tr> -->
<!-- 							<td class="tdDataCaption">分保順序</td> -->
<!-- 							<td class="tdDataField"> -->
<!-- 								<input type="text" value="2" id=""> -->
<!-- 							</td> -->
<!-- 							<td class="tdDataCaption">合約代號</td> -->
<!-- 							<td class="tdDataField"> -->
<!-- 								<input type="text" value="FFQSS" id=""> -->
<!-- 							</td> -->
<!-- 						</tr> -->
					</tbody>
				</table>
				<div class="divspace"></div>
				<div id="table1108-errMsg"></div>
				<table class="tblCssDataGrid">
				<div id="table1108"></div>
				</table>
				<div class="divspace"></div>
				<div class="row justify-content-center">
				<div id="table1108-btn"></div>

				</div>
			</div>
			<!-- content end  -->
		</div>
	</section>
	<!-- dialog -->
	<!-- Modal -->
	<div class="modal fade" id="myModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Title</h5>
					<button id="_close_dialog" type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="foo">
					<div id="example-table"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary" onclick="doModify(this);return false;">確定</button>
				</div>
			</div>
		</div>
	</div>

</body>
<!-- 功能使用的js，建議放置在html最尾 -->
<script type="text/javascript" src="../../shigen/js/app/Rin1108.js"></script>
<script type="text/javascript"></script>
</html>