<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" lang="zh-Hant-TW">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="icon" type="image/png"
	href="../../shigen/images/general/favicon.ico">
<title>華南產物保險-火險再保系統</title>
<!-- jQuery -->
<script src="../../shigen/plugin/jquery.min.js"></script>
<!-- jQuery UI -->
<link href="../../shigen/plugin/jquery_ui/jquery-ui.min.css"
	rel="stylesheet">
<script src="../../shigen/plugin/jquery_ui/jquery-ui.min.js"></script>
<!-- 日期選擇器_民國年或西元年：支援 jQuery UI -->
<script src="../../shigen/plugin/datepicker_globe_tw.js"></script>
<!-- bootstrap -->
<script src="../../shigen/plugin/bootstrap/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="../../shigen/plugin/bootstrap/bootstrap.css">
<link rel="stylesheet"
	href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
<!-- table tabulator -->
<script type="text/javascript"
	src="../../shigen/plugin/tabulator.min.js"></script>
<script src="../../shigen/js/loadingoverlay.min.js"></script>
<!-- fontawsome -->
<script defer src="../../shigen/fonts/js/all.min.js"></script>
<link href="../../shigen/fonts/css/all.css" rel="stylesheet">
<!--load all styles -->
<!-- Plug CSS樣式 -->
<link rel="stylesheet" href="../../shigen/css/type_plug.css">
<!-- 共用樣式 -->
<link rel="stylesheet" href="../../shigen/css/type.css">
<link href="../../shigen/css/colorful-tabulator.css" rel="stylesheet">

<!-- 自訂JS樣式 -->
<script src="../../shigen/js/type.js"></script>
<script src="../../shigen/js/common.js"></script>
<script src="../../shigen/js/appglobal.js"></script>
<script src="../../shigen/js/sys/glob4UiAuth.js"></script>
<script src="../../shigen/js/yf/fireTableColumns.js"></script>
<script src="../../shigen/js/yf/fireTable.js"></script>
<link rel="stylesheet" href="../../shigen/css/fireTableCustom.css">
<link rel="stylesheet" href="../../shigen/css/fireTablePaginator.css">
<script src="../../shigen/plugin/numeral.js"></script>
<style>
#table1102A_1addBtn, #table1102A_2addBtn {
	height: 30px;
}
</style>
</head>

<body>
	<div class="ajax-aside-navFIRE"></div>
	<section>
		<div class="ajax-section-main"></div>
		<div class="container-fluid">
			<div class="content">
				<div class="big_title title s1">Rin1102-合約資料設定</div>
				<div class="row-group">
					<div class="row">
						<div class="col-12 content_function_bar">
							<button class="btn btn-titBlue" onclick="backTo1102()">回上頁</button>
							<button class="btn btn-titBlue" onclick="insert1102()">新增</button>
							<button class="btn btn-titBlue" onclick="update1102()"
								id="update1102">更正</button>
							<button class="btn btn-oneF" onclick="delete1102()"
								id="delete1102">刪除</button>
<!-- 							<button class="btn btn-oneF" onclick="fake()">假資料測試用</button> -->
						</div>
					</div>
				</div>
				<div class="Greybg">
					<div class="redClu">
						<table class="tblDataArea" cellspacing="0"
							cellpadding="0" width="100%">
							<tbody>
								<tr>
									<td class="tdDataCaption">合約年度</td>
									<td class="tdDataField"><input type="text" value=""
										id="txttreaty_year"></td>
									<td class="tdDataCaption">合約代號</td>
									<td class="tdDataField"><input type="text" value=""
										id="txttreaty_no"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="divspace"></div>
					<table class="tblDataArea tblInquireArea" cellspacing="0"
						cellpadding="0" width="100%">
						<tbody>
							<tr>
								<td class="tdDataAnther">合約名稱</td>
								<td class="tdDataTrip" colspan="3"><input type="text"
									value="" id="txttreaty_name"></td>
								<td class="tdDataAnther">合約簡稱</td>
								<td class="tdDataTrip"><input type="text" value=""
									id="txttreaty_sname"></td>
							</tr>
							<tr>
								<td class="tdDataAnther">合約期間</td>
								<td class="tdDataTrip">
								<input name="" type="text" style="width: 40%;" maxlength="10"
									size="10" id="dtatreaty_dbgn" autocomplete="off">
								<input name="" id="" type="hidden" value="true">
<!-- 								<span id="UcRocDbgn_txtDate" style="color: Red; display: none;">日期格式錯誤</span> -->
								<span id="" style="color: Red; display: none;"></span> ~ 
								<input name="" style="width: 40%;"
									type="text" maxlength="10" size="10" id="dtatreaty_dend"
									autocomplete="off"> 
								<input name="" id="" type="hidden"
									value="true"> 
<!-- 								<span id="UcRocDend_txtDate" style="color: Red; display: none;">日期格式錯誤</span> -->
								<span id="" style="color: Red; display: none;"></span></td>
								<td class="tdDataAnther">合約型態</td>
								<td class="tdDataTrip" colspan="3"><select name=""
									id="txttreaty_mode">
										<option></option>
										<option value="1">1.Q/S</option>
										<option value="2">2.Surplus</option>
										<option value="3">3.Combined Q/S & Surplus</option>
								</select></td>
							</tr>
							<tr>
								<td class="tdDataAnther"><span class="checkbox_box ml-2">
										<input id="txtshare_type1" type="radio" name="txtshare_type"
										value="1"> <label for="check1">分入百分比</label>
								</span> <span class="checkbox_box ml-2"> <input
										id="txtshare_type2" type="radio" name="txtshare_type"
										value="2"> <label for="check1">分入線數</label>
								</span></td>
								<td class="tdDataTrip"><input type="text" value=""
									id="numshare_rate"></td>
								<td class="tdDataAnther">終止方式</td>
								<td class="tdDataTrip" colspan="3"><select name=""
									id="txtclose_type">
										<option></option>
										<option value="1">1.Run off</option>
										<option value="2">2.Clear Cut</option>
								</select></td>
							</tr>
							<tr>
								<td class="tdDataAnther">虧損移轉年數</td>
								<td class="tdDataTrip"><input type="text" value=""
									id="numlose_keep_year"></td>
								<td class="tdDataAnther">帳單製作期</td>
								<td class="tdDataTrip" style="width: 15%;"><select name=""
									id="txtacct_type">
										<option></option>
										<option value="1">1.月帳單</option>
										<option value="2">2.季帳單</option>
										<option value="3">3.半年帳單</option>
										<option value="4">4.年帳單</option>
								</select></td>
								<td class="tdDataAnther">未滿期保費計算</td>
								<td class="tdDataTrip"><select name=""
									id="txtnpremcal_type">
										<option></option>
										<option value="1">1.1/24</option>
										<option value="2">2.1/365</option>
								</select></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="divspace"></div>
				<!-- tab開始 -->
				<div class="row-group">
					<ul class="row nav nav-pills" id="pills-tab" role="tablist">
						<li class="nav-item"><a class="nav-link active"
							id="pills-1-tab" data-toggle="pill" href="#pills-1" role="tab"
							aria-controls="pills-1" aria-selected="true">利率及稅率</a></li>
						<li class="nav-item"><a class="nav-link" id="pills-2-tab"
							data-toggle="pill" href="#pills-2" role="tab"
							aria-controls="pills-2" aria-selected="false">限額及除外業務</a></li>
						<li class="nav-item"><a class="nav-link" id="pills-4-tab"
							data-toggle="pill" href="#pills-4" role="tab"
							aria-controls="pills-4" aria-selected="false">再保人分攤比例</a></li>
						<li class="nav-item"><a class="nav-link" id="pills-5-tab"
							data-toggle="pill" href="#pills-5" role="tab"
							aria-controls="pills-5" aria-selected="false">經紀人分攤比例</a></li>
					</ul>
				</div>
				<div
					style="border: 2px solid #9C9B96; margin: 15px 0; padding: 7px 10px; background-color: #f8f8f8;">
					<div class="tab-content" id="pills-tabContent">
						<div class="row-group tab-pane fade show active" id="pills-1"
							role="tabpanel" aria-labelledby="pills-1-tab">

							<table class="tblDataArea tblInquireArea" cellspacing="0"
								cellpadding="0" width="100%">
								<tbody>
									<tr>
										<td class="tdDataThree">未滿期保費利息利率</td>
										<td class="tdDataBorde"><input type="text" value=""
											id="numnpreminst_rate" maxlength="6"></td>
										<td class="tdDataThree">未滿期保費利息稅率</td>
										<td class="tdDataBorde"><input type="text" value=""
											id="numnpremtax_rate" maxlength="6"></td>
										<td class="tdDataThree">未決賠款計算比例</td>
										<td class="tdDataBorde"><input type="text" value=""
											id="numnripaycal_rate" maxlength="6"></td>
									</tr>
								</tbody>
							</table>
							<table class="tblDataArea tblInquireArea" cellspacing="0"
								cellpadding="0" width="100%">
								<tbody>
									<tr>
										<td class="tdDataThree">代扣營業稅率</td>
										<td class="tdDataBorde"><input type="text" value=""
											id="numbusinesstax_rate" maxlength="18"></td>
										<td class="tdDataThree">印花稅率</td>
										<td class="tdDataBorde" colspan="3"><input type="text"
											value="" id="numstamptax_rate" maxlength="18"></td>
										<td class="tdDataThree">管理率</td>
										<td class="tdDataBorde" colspan="3"><input type="text"
											value="" id="numhandling_rate" maxlength="18"></td>
										<td class="tdDataThree">代理率</td>
										<td class="tdDataBorde" colspan="3"><input type="text"
											value="" id="numagent_rate" maxlength="18"></td>
									</tr>
									<tr>
										<td class="tdDataThree">再保費提存率</td>
										<td class="tdDataBorde" colspan="3"><input type="text"
											value="" id="numriprem_rate" maxlength="18"></td>
										<td class="tdDataThree">再保費提存利息利率</td>
										<td class="tdDataBorde" colspan="3"><input type="text"
											value="" id="numripreminst_rate" maxlength="18"></td>
										<td class="tdDataThree">再保費提存代扣稅率</td>
										<td class="tdDataBorde" colspan="3"><input type="text"
											value="" id="numripremtax_rate" maxlength="18"></td>
									</tr>
									<tr>
										<td class="tdDataThree">賠款提存率</td>
										<td class="tdDataBorde" colspan="3"><input type="text"
											value="" id="numripay_rate" maxlength="18"></td>
										<td class="tdDataThree">賠款提存利息利率</td>
										<td class="tdDataBorde" colspan="3"><input type="text"
											value="" id="numripayinst_rate" maxlength="18"></td>
										<td class="tdDataThree">賠款提存代扣税率</td>
										<td class="tdDataBorde" colspan="3"><input type="text"
											value="" id="numripaytax_rate" maxlength="18"></td>
									</tr>
								</tbody>
							</table>
							<hr style="border: 2px solid #e6e6e6;">
							<table class="tblDataArea tblInquireArea" cellspacing="0"
								cellpadding="0" width="100%">
								<tbody>
									<tr>
										<td class="tdDataAnther">預估保費收入(EST.P.I)</td>
										<td class="tdDataTrip"><input type="text" value=""
											id="numExceddEST_P_I" maxlength="18"></td>
										<td class="tdDataAnther">復效次數(Reinstateme)</td>
										<td class="tdDataTrip"><input type="text" value=""
											id="numExceedReinstateme" maxlength="18"></td>
									</tr>
									<tr>
										<td class="tdDataAnther">責任額</td>
										<td class="tdDataTrip"><input type="text" value=""
											id="numExceedDuty" maxlength="18"></td>
										<td class="tdDataAnther">責任費率%(R. O. L)</td>
										<td class="tdDataTrip"><input type="text" value=""
											id="numExceedR_O_L" maxlength="18"></td>
									</tr>
									<tr>
										<td class="tdDataAnther">起賠</td>
										<td class="tdDataTrip"><input type="text" value=""
											id="numExceedRipayBegin" maxlength="18"></td>
										<td class="tdDataAnther">29險種03分配比例</td>
										<td class="tdDataTrip"><input type="text" value=""
											id="numclass29_03rate" maxlength="18"></td>
									</tr>
									<tr>
										<td class="tdDataAnther">費率%</td>
										<td class="tdDataTrip"><input type="text" value=""
											id="numExceedRate" maxlength="18"></td>
										<td class="tdDataAnther">29險種25分配比例</td>
										<td class="tdDataTrip"><input type="text" value=""
											id="numclass29_25rate" maxlength="18"></td>
									</tr>
									<tr>
										<td class="tdDataAnther">預估再保費(Est. EP)</td>
										<td class="tdDataTrip"><input type="text" value=""
											id="numExceedEST_EP" maxlength="18"></td>
										<td class="tdDataAnther">29險種28分配比例</td>
										<td class="tdDataTrip"><input type="text" value=""
											id="numclass29_28rate" maxlength="18"></td>
									</tr>
									<tr>
										<td class="tdDataAnther">扣款後預估再保費(M & D)</td>
										<td class="tdDataTrip"><input type="text" value=""
											id="numExceedEST_EP_MD" maxlength="18"></td>
										<td class="tdDataAnther"></td>
										<td class="tdDataTrip"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- pills-1 end -->
						<div class="row-group tab-pane fade" id="pills-2" role="tabpanel"
							aria-labelledby="pills-2-tab">
							限額
							<table class="tblDataArea tblInquireArea" cellspacing="0"
								cellpadding="0" width="100%">
								<tbody>
									<tr>
										<td class="tdDataThree">基礎</td>
										<td class="tdDataBorde"><select name=""
											id="txtlimit_base">
												<option></option>
												<option value="1">1.同險</option>
												<option value="2">2.逐單</option>
										</select></td>
										<td class="tdDataThree">一般</td>
										<td class="tdDataBorde"><input type="text" value=""
											id="numlimit_general" maxlength="12"></td>
										<td class="tdDataThree">共保</td>
										<td class="tdDataBorde"><input type="text" value=""
											id="numlimit_total" maxlength="18" style="width: 40%;">
											<input type="text" value="" id="numcoins_rate" maxlength="18"
											style="width: 10%;"></td>
									</tr>
									<tr>
										<td class="tdDataThree">自留額倍數</td>
										<td class="tdDataBorde"><input type="text" value=""
											id="numretain_times" maxlength="6"></td>
										<td class="tdDataThree">比較基礎合約代號</td>
										<td class="tdDataBorde"><input type="text" value=""
											id="txtref_treaty_no" maxlength="10"></td>
										<td class="tdDataThree">出險通知</td>
										<td class="tdDataBorde"><input type="text" value=""
											id="numaccident_notice" maxlength="12"></td>
									</tr>
									<tr>
										<td class="tdDataThree">現金攤賠</td>
										<td class="tdDataBorde"><input type="text" value=""
											id="numcash_call" maxlength="12"></td>
										<td class="tdDataThree">TIA限額</td>
										<td class="tdDataBorde" colspan="3"><input type="text"
											value="" id="Numlimit_tia" style="width: 23%;"></td>
									</tr>
								</tbody>
							</table>
							<hr style="border: 2px solid #e6e6e6;">
							佣金率
							<table class="tblCssDataGrid setBorder">
								<tbody>
									<tr class="cssDataGridHeader">
										<th style="width: 100px;"><a href=""></a></th>
										<th><a href="">暫定佣</a></th>
										<th><a href="">專案</a></th>
										<th><a href="">非規章</a></th>
									</tr>
									<tr>
										<td>純火</td>
										<td><input type="text" value="" id="numfirrulcom_rate"
											maxlength="6"></td>
										<td><input type="text" value="" id="numfirprjcom_rate"
											maxlength="6"></td>
										<td><input type="text" value="" id="numfirnrucom_rate"
											maxlength="6"></td>
									</tr>
									<tr style="background-color: white;">
										<td>地震</td>
										<td><input type="text" value="" id="numearrulcom_rate"
											maxlength="6"></td>
										<td><input type="text" value="" id="numearprjcom_rate"
											maxlength="6"></td>
										<td><input type="text" value="" id="numearnrucom_rate"
											maxlength="6"></td>
									</tr>
									<tr>
										<td>颱洪</td>
										<td><input type="text" value="" id="numtyprulcom_rate"
											maxlength="6"></td>
										<td><input type="text" value="" id="numtypprjcom_rate"
											maxlength="6"></td>
										<td><input type="text" value="" id="numtypnrucom_rate"
											maxlength="6"></td>
									</tr>
									<tr style="background-color: white;">
										<td>附加</td>
										<td><input type="text" value="" id="numaddrulcom_rate"
											maxlength="6"></td>
										<td><input type="text" value="" id="numaddprjcom_rate"
											maxlength="6"></td>
										<td><input type="text" value="" id="numaddnrucom_rate"
											maxlength="6"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- pills-2 end -->
						<!-- pills-4 -->
						<div class="row-group tab-pane fade" id="pills-4" role="tabpanel"
							aria-labelledby="pills-4-tab">
							<table class="tblDataArea tblInquireArea" cellspacing="0"
								cellpadding="0" width="100%">
								<tbody>
									<tr>
										<td class="tdDataThree">本公司是否參加分保</td>
										<td class="tdDataBorde"><select name=""
											id="txtshare_flag">
												<option></option>
												<option value="1">1.Yes</option>
												<option value="2">2.No</option>
										</select></td>
										<td class="tdDataThree">Share%</td>
										<td class="tdDataBorde"><input type="text" value=""
											id="nummyself_share" maxlength="10"></td>
										<td class="tdDataThree">其他再保公司Share%</td>
										<td class="tdDataBorde"><input type="text" value=""
											id="numother_share" maxlength="10"></td>
									</tr>
								</tbody>
							</table>
							<div id="table1102A_1addBtn"></div>
							<table class="tblCssDataGrid">
								<div id="table1102A_1"></div>
							</table>
							<div class="divspace"></div>
							<div class="row justify-content-center">
								<div id="table1102A_1-btn"></div>
							</div>
						</div>
						<!-- pills-4 end -->
						<!-- pills-5 -->
						<div class="row-group tab-pane fade" id="pills-5" role="tabpanel"
							aria-labelledby="pills-5-tab">
							<div id="table1102A_2addBtn"></div>
							<table class="tblCssDataGrid">
								<div id="table1102A_2"></div>
							</table>
							<div class="divspace"></div>
							<div class="row justify-content-center">
								<div id="table1102A_2-btn"></div>
							</div>
						</div>
						<!-- pills-5 end -->

					</div>

					<!-- tab結束 -->
				</div>
			</div>
			<!-- content end  -->
		</div>
	</section>
	<!-- dialog -->
	<!-- Modal -->
	<div class="modal fade" id="myModal" data-backdrop="static"
		tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="myModalTitle"></h5>
					<button id="_close_dialog" type="button" class="close"
						data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="foo">
					<div class="Greybg">
						<div class="YelloClu">
							<div class="divspace"></div>
							<table class="tblCssDataGrid setBorder">
								<div id="reinserTable"></div>
							</table>
						</div>
					</div>

					<div id="example-table"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary"
						onclick="getReinserInfo()">確定</button>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" name="reinserType" value="">
</body>
<!-- 功能使用的js，建議放置在html最尾 -->
<script type="text/javascript" src="../../shigen/js/app/Rin1102A.js"></script>

</html>