<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" lang="zh-Hant-TW">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
<title>華南產物保險-火險作業系統</title>
<!-- jQuery -->
<script src="../../shigen/plugin/jquery.min.js"></script>
<!-- jQuery UI -->
<link href="../../shigen/plugin/jquery_ui/jquery-ui.min.css" rel="stylesheet">
<script src="../../shigen/plugin/jquery_ui/jquery-ui.min.js"></script>
<!-- 日期選擇器_民國年或西元年：支援 jQuery UI -->
<script src="../../shigen/plugin/datepicker_globe_tw.js"></script>
<!-- bootstrap -->
<script src="../../shigen/plugin/bootstrap/bootstrap.min.js"></script>
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
<!-- table tabulator -->
<script type="text/javascript" src="../../shigen/plugin/tabulator.min.js"></script>
<!-- fontawsome -->
<script defer src="../../shigen/fonts/js/all.min.js"></script>
<link href="../../shigen/fonts/css/all.css" rel="stylesheet">
<!--load all styles -->
<!-- Plug CSS樣式 -->
<link rel="stylesheet" href="../../shigen/css/type_plug.css">
<!-- 共用樣式 -->
<link rel="stylesheet" href="../../shigen/css/type.css">
<!-- 主題顏色切換 糖果世代 -->
<!-- <link rel="stylesheet" href="../../shigen/css/type-candy.css"> -->
<!-- 主題顏色切換 海神寶藍 -->
<!-- <link rel="stylesheet" href="../../shigen/css/type-sapphire.css"> -->
<!-- 主題顏色切換 法拉利紅 -->
<!-- <link rel="stylesheet" href="../../shigen/css/type-red.css"> -->
<!-- 主題顏色切換 繽紛馬卡 -->
<link rel="stylesheet" id="active-stylesheet" href="../../shigen/css/type-colorful.css">
<!-- 主題顏色切換 煙花季節 -->
<!-- <link rel="stylesheet" href="../../shigen/css/type-fireworks.css"> -->
<!-- 主題顏色切換 冬雪初現 -->
<!-- <link rel="stylesheet" href="../../shigen/css/type-snow.css"> -->
<link href="../../shigen/css/colorful-tabulator.css" rel="stylesheet">

<!-- 自訂JS樣式 -->
<script src="../../shigen/js/type.js"></script>
<script src="../../shigen/js/common.js"></script>
<script src="../../shigen/js/sys/glob4UiAuth.js"></script>
<script src="../../shigen/js/appglobal.js"></script>
<!--ui element apis-->
<script type="text/javascript" src="../../shigen/js/uiapis4app/ddls.js"></script>
<script type="text/javascript">
		$(function () {
			//DDL DMEO-execute api
// 			NcmnpCommoncode table
			crtDdlLoadDDLisdisk("div4", "Y");
			crtDdlLoadDDLacttype("div5", "Y");
			crtDdlLoadDDLjiantyp("div6", "Y");
			crtDdlLoadDDLFocpyCls("div15", "Y");
			crtDdlLoadDDLFsex("div16", "Y");
			crtDdlLoadDDLFrenew("div17", "Y");
			crtDdlLoadDDLFrisk("div18", "Y");
			crtDdlLoadDDLFrelIssu("div19", "Y");
			crtDdlLoadDDLFrelBene("div20", "Y");
			crtDdlLoadDDLCusCls("div21", "Y");
			crtDdlLoadDDLCusType("div22", "Y");
			crtDdlLoadDDLFcoins("div23", "Y");
			crtDdlLoadDDLFfac("div24", "Y");
			crtDdlLoadDDLFtrvarea("div25", "Y");
			crtDdlLoadDDLFnation("div26", "Y");
			crtDdlLoadDDLFmedical("div27", "Y");
			crtDdlLoadDDLFbody("div28", "Y");
			crtDdlLoadDDLFsocal("div29", "Y");
			crtDdlLoadDDLIcoComp("div30", "Y");
			crtDdlLoadDDLFunit("div31", "Y");
			
			crtDdlLoadDDLFqday("div32", "Y");
			crtDdlLoadDDLFunderWriting("div33", "Y");
			crtDdlLoadDDLFbeneType("div34", "Y");
			crtDdlLoadDDLItrvConv("div35", "Y");
			crtDdlLoadDDLFpayMethod("div36", "Y");
			crtDdlLoadDDLFbenMethod("div37", "Y");
			crtDdlLoadDDLChannel("div38", "Y");
			crtDdlLoadDDLMainEdrType_G("div45", "Y");
			crtDdlLoadDDLMainEdrType("div46", "Y");
			crtDdlLoadDDLObjEdrType("div47", "Y");
			crtDdlLoadDDLBENEEdrType("div48", "Y");
			crtDdlLoadDDLSCCoSaleData("div49", "Y");
			crtDdlLoadDDLbarrkind("div50", "Y");
			crtDdlLoadDDLbarrdegr("div51", "Y");
			crtDdlLoadDDLbarrkind_n("div52", "Y");
// 			NcmnpInscls table
			crtDdlLoadDDLIINSCLS("div7", "Y");
// 			NcmnpInskind table
			crtDdlLoadDDLIINSKind("div8", "Y");
			crtDdlLoadDDLIINSKind_501("div9", "Y");
// 			NcmnpClause table
			crtDdlLoadDDLIClause("div10", "Y");
			crtDdlLoadDDLClauseRel("div11", "Y");
// 			NhaspNotice table
			crtDdlLoadDDLINotice("div12", "Y");
			crtDdlLoadDDLNoticeRel("div13", "Y");
// 			NcmnpInstype table
			crtDdlLoadDDLNCMNpInstype("div14", "Y");
// 			NhaspOcpy table
			crtDdlLoadDDLOcpyDataC_IocpyaAsCode("div40-1", "Y");
			crtDdlLoadDDLOcpyDataC_Iocpya1AsCode("div40-2", "Y");
			crtDdlLoadDDLOcpyDataC_Iocpya1AsType("div40-3", "Y");
			
			crtDdlLoadDDLOcpyDataP_IocpyaAsCode("div41-1", "Y");
			crtDdlLoadDDLOcpyDataP_Iocpya1AsCode("div41-2", "Y");
			crtDdlLoadDDLOcpyDataP_Iocpya1AsType("div41-3", "Y");
			
			crtDdlLoadDDLOcpyDataPVer_IocpyaAsCode("div42-1", "Y");
			crtDdlLoadDDLOcpyDataPVer_IocpyaAsType("div42-2", "Y");
			crtDdlLoadDDLOcpyDataPVer_Iocpya1AsType("div42-3", "Y");
			
			crtDdlLoadDDLCommonData_IocpyaAsCode("div43-1", "Y");
			crtDdlLoadDDLCommonData_IocpyaAsType("div43-2", "Y");
			crtDdlLoadDDLCommonData02_Iocpya1AsType("div43-3", "Y");
// 			;
		});
	</script>
<!--待處理-->
<script type="text/javascript" src="../../shigen/js/yf/popup_demo/code2genEl.js"></script>
</head>

<body>
	<div class="ajax-aside-nav"></div>
	<section>
		<div class="ajax-section-main"></div>
		<div class="container-fluid">
			<div class="content">
				<div class="bread-crumbs">
					<a href="">承保受理作業</a>
				</div>
				<div class="big_title title s1">yf_html_el</div>
				<div class="row-group">
					<div>demo-ddl</div>
					<H4>NcmnpCommoncode table</H4>
					<!-- NcmnpCommoncode table-->
					<h4>4號程式</h4>
					<div id="div4"></div>
					<h4>5號程式</h4>
					<div id="div5"></div>
					<h4>6號程式</h4>
					<div id="div6"></div>
					<h4>15號程式---職業等級 NCMNP_COMMONCODE：FOCPYCLS</h4>
					<div id="div15"></div>
					<h4>16號程式---性別 NCMNP_COMMONCODE：FSEX</h4>
					<div id="div16"></div>
					<h4>17號程式---新續保件 NCMNP_COMMONCODE：FRENEW</h4>
					<div id="div17"></div>
					<h4>18號程式---體位別 NCMNP_COMMONCODE：FRISK</h4>
					<div id="div18"></div>
					<h4>19號程式---與要保人關係 NCMNP_COMMONCODE：FRELISSU</h4>
					<div id="div19"></div>
					<h4>20號程式---受益人關係 NCMNP_COMMONCODE：FRELBENE</h4>
					<div id="div20"></div>
					<h4>21號程式---編號別 NCMNP_COMMONCODE：CUSCLS</h4>
					<div id="div21"></div>
					<h4>22號程式---編號別 NCMNP_COMMONCODE：CUSCLS</h4>
					<div id="div22"></div>
					<h4>23號程式---共保件 NCMNP_COMMONCODE：FCOINS</h4>
					<div id="div23"></div>
					<h4>24號程式---臨分件 NCMNP_COMMONCODE：FFAC</h4>
					<div id="div24"></div>
					<h4>25號程式---旅行地區 NCMNP_COMMONCODE：FTRVAREA</h4>
					<div id="div25"></div>
					<h4>26號程式---國藉別 NCMNP_COMMONCODE：FNATION</h4>
					<div id="div26"></div>
					<h4>27號程式</h4>
					<div id="div27"></div>
					<h4>28號程式</h4>
					<div id="div28"></div>
					<h4>29號程式</h4>
					<div id="div29"></div>
					<h4>30號程式---共保公司 NCMNP_COMMONCODE：FCOCOMP</h4>
					<div id="div30"></div>
					<h4>31號程式---保額單位 NCMNP_COMMONCODE：FUNIT</h4>
					<div id="div31"></div>
					<h4>32號程式---限數單位 NCMNP_COMMONCODE：FQUNIT</h4>
					<div id="div32"></div>
					<h4>33號程式---核保碼 NCMNP_COMMONCODE：FUNDERWRITING</h4>
					<div id="div33"></div>
					<h4>34號程式---受益人給付方式 NCMNP_COMMONCODE：FBENETYPE</h4>
					<div id="div34"></div>
					<h4>35號程式---交通工具 NCMNP_COMMONCODE：ITRVCONV</h4>
					<div id="div35"></div>
					<h4>36號程式---給付方式 NCMNP_COMMONCODE：FPAYMETHOD</h4>
					<div id="div36"></div>
					<h4>37號程式---'給付方式 NCMNP_COMMONCODE：FBENMETHOD</h4>
					<div id="div37"></div>
					<h4>38號程式----五大通路</h4>
					<div id="div38"></div>
					<h4>45號程式---主檔批由</h4>
					<div id="div45"></div>
					<h4>46號程式----主檔批由</h4>
					<div id="div46"></div>
					<h4>47號程式---標的批由</h4>
					<div id="div47"></div>
					<h4>48號程式---標的批由</h4>
					<div id="div48"></div>
					<h4>49號程式---子公司共銷</h4>
					<div id="div49"></div>
					<h4>50號程式----身心障礙類別</h4>
					<div id="div50"></div>
					<h4>51號程式---身心障礙等級</h4>
					<div id="div51"></div>
					<h4>52號程式----身心障礙 非體況未承保因數</h4>
					<div id="div52"></div>
					<H4>NcmnpInscls table</H4>
					<!-- 					NcmnpInscls table-->
					<h4>7號程式---險別代號 from table:NCMNP_INSCLS</h4>
					<div id="div7"></div>
					<H4>NcmnpInskind table</H4>
					<!-- 					NcmnpInskind table-->
					<h4>8號程式</h4>
					<div id="div8"></div>
					<h4>9號程式---保單類別</h4>
					<div id="div9"></div>
					<H4>NcmnpClause table</H4>
					<!-- 					NcmnpClause table-->
					<h4>10號程式----條款</h4>
					<div id="div10"></div>
					<H4>11號程式----保單類別條款</H4>
					<div id="div11"></div>
					<!-- 					NhaspNotice table-->
					<H4>NhaspNotice table</H4>
					<H4>12號程式----告知事項</H4>
					<div id="div12"></div>
					<H4>13號程式---告知 NHASP_NOTICE_REL</H4>
					<div id="div13"></div>
					<H4>NcmnpInstype table</H4>
					<!-- 					NcmnpInstype table-->
					<H4>14號程式---險種 NCMNP_INSTYPE</H4>
					<div id="div14"></div>
					<!-- 					NhaspOcpy table -->
					<H4>NhaspOcpy table</H4>
					<h4>40號程式</h4>
					<div id="div40-1"></div>
					<div id="div40-2"></div>
					<div id="div40-3"></div>

					<h4>41號程式</h4>
					<div id="div41-1"></div>
					<div id="div41-2"></div>
					<div id="div41-3"></div>
					<h4>42號程式</h4>
					<div id="div42-1"></div>
					<div id="div42-2"></div>
					<div id="div42-3"></div>
					<h4>43號程式</h4>
					<div id="div43-1"></div>
					<div id="div43-2"></div>
					<div id="div43-3"></div>


					<div>&nbsp;</div>
					<div>demo-popup window</div>
					<input id="oriPageId" />
					<button id="openWindow">Edit</button>
				</div>
			</div>
		</div>
	</section>
</body>

</html>