<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asi.huanan.service.dao.mybatis.mapper.LogFriFacNpropMapper">
  <resultMap id="BaseResultMap" type="com.asi.huanan.service.dao.mybatis.model.LogFriFacNprop">
    <id column="slip_no" jdbcType="VARCHAR" property="slipNo" />
    <id column="LOG_seq" jdbcType="VARCHAR" property="logSeq" />
    <id column="property_no" jdbcType="VARCHAR" property="propertyNo" />
    <result column="property_name" jdbcType="VARCHAR" property="propertyName" />
    <result column="amt" jdbcType="DECIMAL" property="amt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    slip_no, LOG_seq, property_no, property_name, amt
  </sql>
  <select id="selectByExample" parameterType="com.asi.huanan.service.dao.mybatis.model.LogFriFacNpropExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from LOG_fri_fac_nprop
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.asi.huanan.service.dao.mybatis.model.LogFriFacNpropKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from LOG_fri_fac_nprop
    where slip_no = #{slipNo,jdbcType=VARCHAR}
      and LOG_seq = #{logSeq,jdbcType=VARCHAR}
      and property_no = #{propertyNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.asi.huanan.service.dao.mybatis.model.LogFriFacNpropKey">
    delete from LOG_fri_fac_nprop
    where slip_no = #{slipNo,jdbcType=VARCHAR}
      and LOG_seq = #{logSeq,jdbcType=VARCHAR}
      and property_no = #{propertyNo,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.asi.huanan.service.dao.mybatis.model.LogFriFacNpropExample">
    delete from LOG_fri_fac_nprop
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.asi.huanan.service.dao.mybatis.model.LogFriFacNprop">
    insert into LOG_fri_fac_nprop (slip_no, LOG_seq, property_no, 
      property_name, amt)
    values (#{slipNo,jdbcType=VARCHAR}, #{logSeq,jdbcType=VARCHAR}, #{propertyNo,jdbcType=VARCHAR}, 
      #{propertyName,jdbcType=VARCHAR}, #{amt,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.asi.huanan.service.dao.mybatis.model.LogFriFacNprop">
    insert into LOG_fri_fac_nprop
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="slipNo != null">
        slip_no,
      </if>
      <if test="logSeq != null">
        LOG_seq,
      </if>
      <if test="propertyNo != null">
        property_no,
      </if>
      <if test="propertyName != null">
        property_name,
      </if>
      <if test="amt != null">
        amt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="slipNo != null">
        #{slipNo,jdbcType=VARCHAR},
      </if>
      <if test="logSeq != null">
        #{logSeq,jdbcType=VARCHAR},
      </if>
      <if test="propertyNo != null">
        #{propertyNo,jdbcType=VARCHAR},
      </if>
      <if test="propertyName != null">
        #{propertyName,jdbcType=VARCHAR},
      </if>
      <if test="amt != null">
        #{amt,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.asi.huanan.service.dao.mybatis.model.LogFriFacNpropExample" resultType="java.lang.Long">
    select count(*) from LOG_fri_fac_nprop
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update LOG_fri_fac_nprop
    <set>
      <if test="record.slipNo != null">
        slip_no = #{record.slipNo,jdbcType=VARCHAR},
      </if>
      <if test="record.logSeq != null">
        LOG_seq = #{record.logSeq,jdbcType=VARCHAR},
      </if>
      <if test="record.propertyNo != null">
        property_no = #{record.propertyNo,jdbcType=VARCHAR},
      </if>
      <if test="record.propertyName != null">
        property_name = #{record.propertyName,jdbcType=VARCHAR},
      </if>
      <if test="record.amt != null">
        amt = #{record.amt,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update LOG_fri_fac_nprop
    set slip_no = #{record.slipNo,jdbcType=VARCHAR},
      LOG_seq = #{record.logSeq,jdbcType=VARCHAR},
      property_no = #{record.propertyNo,jdbcType=VARCHAR},
      property_name = #{record.propertyName,jdbcType=VARCHAR},
      amt = #{record.amt,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.asi.huanan.service.dao.mybatis.model.LogFriFacNprop">
    update LOG_fri_fac_nprop
    <set>
      <if test="propertyName != null">
        property_name = #{propertyName,jdbcType=VARCHAR},
      </if>
      <if test="amt != null">
        amt = #{amt,jdbcType=DECIMAL},
      </if>
    </set>
    where slip_no = #{slipNo,jdbcType=VARCHAR}
      and LOG_seq = #{logSeq,jdbcType=VARCHAR}
      and property_no = #{propertyNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asi.huanan.service.dao.mybatis.model.LogFriFacNprop">
    update LOG_fri_fac_nprop
    set property_name = #{propertyName,jdbcType=VARCHAR},
      amt = #{amt,jdbcType=DECIMAL}
    where slip_no = #{slipNo,jdbcType=VARCHAR}
      and LOG_seq = #{logSeq,jdbcType=VARCHAR}
      and property_no = #{propertyNo,jdbcType=VARCHAR}
  </update>
</mapper>